Repository woowa-techcamp-2022/web-moneybook-07, pull requests merged in 2022-07, with the labels that each got.

#5 [Feature] Add global header UI
  src/frontend/assets/calendar.svg
  src/frontend/assets/chart.svg
  src/frontend/assets/chevron-left.svg
  src/frontend/assets/chevron-right.svg
  src/frontend/assets/file-text.svg
  src/frontend/components/GlobalHeader.js
  src/frontend/index.js
  src/frontend/models/index.js
  src/frontend/stores/global.js
  src/frontend/stylesheets/global.css
  src/frontend/stylesheets/style.css
  src/frontend/utils/date.js
Labels: feature, frontend

#7 [Feat] add page routing
  src/app.js
  src/backend/routes/index.js
  src/frontend/components/GlobalHeader.js
  src/frontend/index.js
Labels: feature, frontend

#9 [Feature] Add account history get api
  .gitignore
  README.md
  package-lock.json
  package.json
  src/app.js
  src/backend/config/db.js
  src/backend/controllers/account-history.js
  src/backend/query-statements/account-history.js
  src/backend/routes/account-history.js
  src/backend/routes/users.js
  src/backend/services/account-history.js
  src/backend/services/utils/account-history.js
Labels: feature, backend

#12 feat ✨ 수입/지출 내역 POST, PUT API 추가
  src/backend/controllers/account-history.js
  src/backend/query-statements/account-history.js
  src/backend/routes/account-history.js
  src/backend/services/account-history.js
Labels: feature, backend

#14 feat ✨ 수입/지출 내역 POST, PUT API 추가
  src/backend/controllers/account-history.js
  src/backend/query-statements/account-history.js
  src/backend/routes/account-history.js
  src/backend/services/account-history.js
Labels: feature, backend

#15 [Feature] Add account history detail view UI
  .eslintrc.json
  src/app.js
  src/backend/services/utils/account-history.js
  src/frontend/api/history.js
  src/frontend/api/index.js
  src/frontend/assets/check.svg
  src/frontend/assets/minus.svg
  src/frontend/assets/plus.svg
  src/frontend/components/GlobalHeader.js
  src/frontend/components/account-history/detail-adder/Input.js
  src/frontend/components/account-history/detail-adder/Item.js
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/components/account-history/detail-adder/SubmitBtn.js
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/components/account-history/detail-list/by-date/detail.js
  src/frontend/components/account-history/detail-list/by-date/header.js
  src/frontend/components/account-history/detail-list/by-date/index.js
  src/frontend/components/account-history/detail-list/header/FilterItem.js
  src/frontend/components/account-history/detail-list/header/index.js
  src/frontend/components/account-history/detail-list/index.js
  src/frontend/constants/category.js
  src/frontend/constants/date.js
  src/frontend/index.js
  src/frontend/models/account-history/DetailModel.js
  src/frontend/stylesheets/detail.css
  src/frontend/stylesheets/global.css
  src/frontend/stylesheets/style.css
  src/frontend/utils/api.js
  src/frontend/utils/date.js
  src/frontend/utils/string.js
  src/frontend/views/account-history/DetailView.js
Labels: feature, frontend

#18 [Feature] Add account history create & edit feature
  src/frontend/api/history.js
  src/frontend/api/index.js
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/components/account-history/detail-list/by-date/detail.js
  src/frontend/components/account-history/detail-list/by-date/index.js
  src/frontend/models/account-history/DetailModel.js
  src/frontend/stylesheets/detail.css
  src/frontend/stylesheets/style.css
  src/frontend/utils/date.js
Labels: feature, frontend

#20 [Feature] Add payment addBtn deleteBtn UI
  src/frontend/assets/close.svg
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/stylesheets/detail.css
  src/frontend/utils/category.js
Labels: feature, frontend

#22 Feature/21/add confirm modal component
  .eslintrc.json
  src/frontend/api/history.js
  src/frontend/components/account-history/detail-adder/PaymentConfirmModal.js
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/models/account-history/DetailModel.js
  src/frontend/stylesheets/detail.css
  src/frontend/stylesheets/style.css
  src/frontend/utils/payment.js
Labels: feature, frontend

#24 [Feature] Add payment post delete api
  src/backend/controllers/account-history.js
  src/backend/query-statements/account-history.js
  src/backend/routes/account-history.js
  src/backend/services/account-history.js
Labels: feature, backend

#28 Feature/27/add statistics main panel UI
  src/backend/services/account-history.js
  src/frontend/App.js
  src/frontend/components/account-history/statistics/DonutChart.js
  src/frontend/components/account-history/statistics/MainPanel.js
  src/frontend/components/account-history/statistics/NoResult.js
  src/frontend/components/account-history/statistics/Table.js
  src/frontend/components/account-history/statistics/TableHeader.js
  src/frontend/components/account-history/statistics/TableRow.js
  src/frontend/models/account-history/StatisticsModel.js
  src/frontend/stylesheets/statistics.css
  src/frontend/views/account-history/StatisticsView.js
Labels: bug, feature, frontend

#30 [Feature] Add history list by category to statistics view
  src/backend/controllers/account-history.js
  src/backend/query-statements/account-history.js
  src/backend/services/account-history.js
  src/backend/services/utils/account-history.js
  src/frontend/components/account-history/calendar/Content.js
  src/frontend/components/account-history/calendar/Footer.js
  src/frontend/components/account-history/detail-adder/Input.js
  src/frontend/components/account-history/detail-adder/Item.js
  src/frontend/components/account-history/detail-adder/PaymentConfirmModal.js
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/components/account-history/detail-adder/SubmitBtn.js
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/components/account-history/detail-list/by-date/detail.js
  src/frontend/components/account-history/detail-list/by-date/header.js
  src/frontend/components/account-history/detail-list/by-date/index.js
  src/frontend/components/account-history/detail-list/header/FilterItem.js
  src/frontend/components/account-history/detail-list/header/index.js
  src/frontend/components/account-history/detail-list/index.js
  src/frontend/components/account-history/statistics/DetailPanel.js
  src/frontend/components/account-history/statistics/DonutChart.js
  src/frontend/components/account-history/statistics/MainPanel.js
  src/frontend/components/account-history/statistics/Table.js
  src/frontend/components/account-history/statistics/TableHeader.js
  src/frontend/components/account-history/statistics/TableRow.js
  src/frontend/models/account-history/StatisticsModel.js
  src/frontend/stylesheets/statistics.css
  src/frontend/views/account-history/CalendarView.js
  src/frontend/views/account-history/DetailView.js
  src/frontend/views/account-history/StatisticsView.js
Labels: feature, frontend, backend, pair

#32 [Feature] Add expenditure history by category get api
  src/backend/controllers/account-history.js
  src/backend/query-statements/account-history.js
  src/backend/routes/account-history.js
  src/backend/services/account-history.js
  src/frontend/api/history.js
  src/frontend/models/account-history/StatisticsModel.js
Labels: feature, backend, pair

#35 [Feature] add line chart
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/components/account-history/detail-list/by-date/detail.js
  src/frontend/components/account-history/statistics/DetailPanel.js
  src/frontend/components/account-history/statistics/DonutChart.js
  src/frontend/components/account-history/statistics/LineChart.js
  src/frontend/components/account-history/statistics/TableRow.js
  src/frontend/constants/category.js
  src/frontend/constants/colors.js
  src/frontend/models/account-history/StatisticsModel.js
  src/frontend/stylesheets/detail.css
  src/frontend/stylesheets/statistics.css
  src/frontend/utils/number.js
Labels: bug, feature, frontend, pair

#36 [Feature] Disable adder submit btn when form value is same with prev value
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/components/account-history/detail-list/index.js
Labels: feature, frontend, pair

#39 [Feature] Add auto scroll
  src/frontend/components/account-history/detail-list/index.js
  src/frontend/components/account-history/statistics/DetailPanel.js
Labels: feature, frontend

#40 [Feature] Add line chart animation
  src/frontend/components/account-history/statistics/DetailPanel.js
  src/frontend/components/account-history/statistics/LineChart.js
Labels: feature, frontend, pair

#42 [Feature] Add donut chart animation
  src/frontend/components/account-history/statistics/DonutChart.js
  src/frontend/components/account-history/statistics/LineChart.js
Labels: feature, frontend, pair

#44 [Enhancement] Modify observer class structure
  src/frontend/components/account-history/calendar/Content.js
  src/frontend/components/account-history/calendar/Footer.js
  src/frontend/components/account-history/detail-adder/PaymentConfirmModal.js
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/components/account-history/detail-list/header/index.js
  src/frontend/components/account-history/detail-list/index.js
  src/frontend/components/account-history/statistics/DetailPanel.js
  src/frontend/components/account-history/statistics/DonutChart.js
  src/frontend/components/account-history/statistics/LineChart.js
  src/frontend/components/account-history/statistics/MainPanel.js
  src/frontend/components/account-history/statistics/Table.js
  src/frontend/components/account-history/statistics/TableHeader.js
  src/frontend/models/account-history/CalendarModel.js
  src/frontend/models/account-history/DetailModel.js
  src/frontend/models/account-history/StatisticsModel.js
  src/frontend/models/index.js
  src/frontend/stores/global.js
  src/frontend/views/account-history/CalendarView.js
  src/frontend/views/account-history/DetailView.js
  src/frontend/views/account-history/StatisticsView.js
Labels: enhance, frontend, pair

#46 [Enhancement] Refactor router with prototype
  src/frontend/Router.js
Labels: enhance, frontend

#48 [Feature] Show loading indicator during server communication
  src/frontend/App.js
  src/frontend/assets/logo.png
  src/frontend/components/LoadingIndicator.js
  src/frontend/components/account-history/detail-adder/PaymentConfirmModal.js
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/models/account-history/CalendarModel.js
  src/frontend/models/account-history/DetailModel.js
  src/frontend/models/account-history/StatisticsModel.js
  src/frontend/stylesheets/global.css
  src/frontend/utils/loading.js
Labels: feature, frontend

#51 [Bugfix] Make detail adder input value not disappear when add or delete payment
  src/frontend/components/account-history/detail-adder/Select.js
  src/frontend/components/account-history/detail-adder/index.js
  src/frontend/components/account-history/detail-list/index.js
  src/frontend/stylesheets/detail.css
  src/frontend/utils/history.js
  src/frontend/views/account-history/DetailView.js
Labels: bug, frontend

#55 asset 🍱 title, favicon 추가
  src/frontend/assets/favicon.ico
  webpack.config.js
Labels: feature, frontend

#57 [Feature] add scroll top button
  src/frontend/App.js
  src/frontend/assets/cat.png
  src/frontend/assets/up.svg
  src/frontend/components/NoResult.js
  src/frontend/components/ScrollToTopButton.js
  src/frontend/components/account-history/detail-list/index.js
  src/frontend/components/account-history/statistics/LineChart.js
  src/frontend/components/account-history/statistics/MainPanel.js
  src/frontend/stylesheets/detail.css
  src/frontend/stylesheets/global.css
  src/frontend/stylesheets/statistics.css
  src/frontend/utils/event.js
Labels: feature, frontend

#59 chroe ⚙️ element tag 변경
  src/frontend/components/ScrollToTopButton.js
  src/frontend/stylesheets/global.css
Labels: frontend
